
nav {
    background-color: #D7263D;
    overflow: hidden;
    padding: 10px;
    margin-right: 40px;
    margin-top: -10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

header {
    color: #fff;
    padding: 20px;
    text-align: center;
}
header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#tuomas {
    display: inline-flex;
    width: 20%;
    height: auto;
    float: right;
}

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

h4,
h1 {
    text-align: center;
}

body {
    background-color: #f0f0f0;
    font-family: 'dm sans', 'sans-serif';
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 35px;
}

h4,
h3 {
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 35px;
    color: #333;
    margin-top: auto;
    text-align: center;
}
h5 {
    font-size: 24px;
    color: #333;
    margin-top: auto;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

#otayhteyttä,
#kuvat {
    text-align: center;
}


#herne {
    display: inline-flex;
    width: 20.8%;
    height: auto;
    margin-right: 10px;
    margin-left: 20px;
}
#peruna {
    display: inline-flex;
    width: 19.5%;
    height: auto;
    margin-right: 10px;
    margin-left: 20px;

}

#Vk2023 {
    display: inline-flex;
    width: 31%;
    height: auto;
    margin-right: 10px;
    margin-left: 20px;
}

footer {
    background-color: #D7263D;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 500px) {
    .Mshown  {font-size: 7px;}
    .hidden  {display:none;}
}
